**/.DS_Store
.spyproject/**
.Rproj.user
.Rhistory
*.Rproj
*.sublime-workspace

*.aux
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.ini
*.bbl
*.lot
*.lof
*.bcf
*.log
*.blg
*.run.xml

gdb_old/**
**/venv/**
**.pyc
**/__pycache__/**
gdb/**
map/**
output/**
tmp/**
arc-project/**


**.nc
**.dta

**/Manifest.toml

rawdata/sonris-download/frac-volumes/**
rawdata/fracfocus/*.csv
rawdata/fracfocus/readme.txt
rawdata/nrel/**

!**/README.md
!sonrisdata/dictionary/**
!rawdata/*_sample.zip
!rawdata/shale_area.zip
!rawdata/12072017_HV_OGIP.zip
Rplots.pdf

texfiles/**

load-eia-api-key.R