**/.DS_Store
.spyproject/**
.Rproj.user
.Rhistory
*.Rproj
*.sublime-workspace

*.aux
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.ini
*.bbl
*.lot
*.lof
*.bcf
*.log
*.blg
*.run.xml

gdb_old/**
**/venv/**
**.pyc
**/__pycache__/**
gdb/**
map/**
output/**
tmp/**
arc-project/**


**.nc
**/Manifest.toml
!**/README.md
